.hero{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 25px;
    margin-top: 50px;
}

.hero img{
    width: 250px;
    border-radius: 50%;
    border: 4px solid #222;
    box-shadow: 0 0 15px rgba(0,0,0,0.3);
    transition: all 0.3s ease;
}

.hero h1{
    text-align: center;
    width: 70%;
    font-size: 42px;
    font-weight: 600;
}

.hero p{
    width: 50%;
    font-size: 15px;
    /* line-height: 15px; */
    text-align: center;
    
}

.hero h1 span{
    background: linear-gradient(270deg, #DF8908 10% , #B415FF 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


.hero .hero-action{
    display: flex;
    align-items: center;
    gap: 25px;
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 50px;
}

.hero .resume{
    font-size: 17px;
    padding: 15px 45px;
    border-radius: 50px;
    background: linear-gradient(264deg, #DF8908 -5.09%, #B415FF 106.28%);
    cursor: pointer;
}
.hero .linkedin{
    font-size: 17px;
    padding: 15px 45px;
    border-radius: 50px;
    border: 2px solid white;
    cursor: pointer;
}

.hero .resume:hover {
    transform: scale(1.05);
    box-shadow: 0 5px 15px rgba(223, 137, 8, 0.5);
    border-color: white ;
}

.hero .linkedin:hover {

    transform: scale(1.05);
    border-color: #735eb7;
}
